@import 'base';
@import 'responsive';

.margin-bottom-40 {
    margin-bottom: 40px;
}

.text-heading1 {
    font-size: 4.8rem;
    font-weight: 600;
}

.text-heading2 {
    font-size: 4rem;
    font-weight: 700;
}

.text-heading3 {
    font-size: 3.2rem;
    font-weight: 600;
}

.text-heading4 {
    font-size: 2.4rem;
    font-weight: 700;
}

.text-common-sub {
    font-size: 2rem;
    font-weight: 400;
}

.text-common-lab {
    font-size: 1.6rem;
    font-weight: 400;
}

.text-body1 {
    font-size: 2rem;
    font-weight: 400;
}

.text-body2 {
    font-size: 1.6rem;
    font-weight: 400;
}


.text-caption {
    font-size: 1.4rem;
    font-weight: 500;
}

.text-main-color {
    color: $main-color;
}

.text-second-color {
    color: $second-color;
}

.text-thir-color {
    color: $thir-color;
}

.text-four-color {
    color: $four-color;
}


// ----------------------------header-----------------------
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;

    .nav,
    .nav-login,
    .nav-logo,
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        background-color: $main-color;
        padding: 1rem 2.8rem;
        height: $hight-nav;

        .menu-bnt {
            font-size: 5.2rem;
            color: $balck-color;
            // display: none;
        }

        .nav-logo {


            display: flex;
            align-items: center;
            gap: 0.9rem;

            p {
                font-size: 2.4rem;
                font-weight: 600;
                color: $balck-color-text;
            }

        }

        .nav-list {
            gap: 0 6rem;

            .nav-item {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        .nav-login {
            gap: 0 2.2rem;

            button {
                @include button(auto, auto);
                padding: 1rem;
            }

            img {
                width: 2.4rem;
            }
        }
    }
}

// ----------------------------header-----------------------

// ----------------------------FOOTER START-----------------------

footer {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    border-top: 1px solid #191919;
    bottom: 0;
    position: relative;

    .footer-content {
        padding-top: 8rem;
        display: flex;
        margin: 0 11.2rem;
        justify-content: space-between;


        .footer-item {
            width: 20%;

            .text-footer-heading {
                margin-bottom: 2.8rem;
            }

            .text-footer-title {
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 2rem;

                .text-link {
                    color: $balck-color-text;
                }
            }
        }

        .footer-website {
            width: 12%;
        }
    }

    .footer-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.2rem;
        margin-bottom: 2.75rem;

        .footer-logo {
            @include logo;
            display: flex;
            align-items: center;
            margin-bottom: 1.6rem;

        }

        .footer-icon-contact {
            .icon-footer {
                margin-left: .4rem;
                margin-right: .4rem;
            }
        }

    }
}

// ----------------------------FOOTER END-----------------------



// ----------------------------TRANG CHU START----------------------------------

// --------------------------SLIDER---------------------
.slider {

    margin-top: $hight-nav;

    .slider-from {
        // padding: 7.7rem 11.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slider-content {
            line-height: 2;


            span {
                font-size: 2rem;
                font-weight: 400;
            }

            h1 {
                font-size: 4.8rem;
                font-weight: 700;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }

            h4 {
                font-size: 2rem;
                font-weight: 700;
                font-style: italic;
            }

            h3 {
                font-size: 2.4rem;
                font-weight: 700;
            }

        }

        .slider-img {
            margin: auto 0;
            width: 84.8rem;
            text-align: center;

            img {
                width: 100%;
                // height: 100%;
                display: block;
            }
        }

    }

}

// --------------------------SLIDER---------------------

// ----------------------------container-----------------------
.container {
    margin-top: 4.3rem;

    .text-heading-container {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 4rem;
        font-weight: 700;

    }

    .container-content {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;




        .container-content-left {
            padding: 10rem 0;
            background-color: $second-color;
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;
            border-radius: 40px;
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

            .content-left-list {
                margin-top: 4rem;
                width: 50%;


                .content-list-top {
                    display: flex;
                    gap: 0 4rem;
                    margin-bottom: .8rem;
                    align-items: center;

                    .number {
                        text-align: center;
                        background: $thir-color;
                        width: 6.8rem;
                        color: white;
                        border-radius: 2.8rem;
                        font-size: 2.4rem;
                        font-weight: 700;

                        p {
                            padding: 1rem 0;
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                    }

                    h3 {
                        font-size: 1.6rem;
                        font-weight: 700;

                    }
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-style: italic;
                }

            }
        }

        .container-content-right {

            width: 87.3rem;
            height: 59.2rem;
            margin-top: auto;
            margin-left: -6.4rem;
            margin-bottom: auto;

        }
    }
}

// ----------------------------container-----------------------

// ----------------------------TRANG CHU END----------------------------------



// ----------------------------KHAM PHA START----------------------------------
// --------------------------SLIDER---------------------
.slider-khampha {

    width: 64%;
    background: $main-color;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc($hight-nav + 6.8rem);
    display: flex;
    justify-content: space-between;
    gap: 0 8.4rem;

    .slider-khampha-content {
        width: calc(100%/3);
        clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);

        img {
            width: 100%;
        }
    }
}

// --------------------------SLIDER---------------------



// ----------------------------container-----------------------
.container-khampha {
    width: 64%;
    margin: 0 auto;

    .container-khampha-content {
        width: 89%;
        text-align: left;

        .heading-content-khampha {
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: 4.8rem;
        }


        .title-content-1-khampha {
            font-size: 1.6rem;
            font-weight: 700;
            margin: 2rem 0;
        }

        .interview-content-khampha {
            display: flex;
            align-items: center;
            width: 120%;
            margin-top: 120px;
            margin-bottom: 80px;

            .interview-content-khampha-img {
                width: 100%;
                clip-path: circle(50% at 50% 50%);
                z-index: -2000;

                img {
                    width: 100%;

                }
            }

            .interview-content-khampha-from {
                border-radius: 40px;
                background-color: $second-color;
                text-align: left;
                padding: 4rem;
                width: 100%;
                margin-left: -20rem;
                box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);

                .heading-interview-from-khampha {
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.2;
                }

                .title-interview-from-khampha {
                    margin-top: 2.8rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
        }

        .content-3-khampha {
            display: flex;
            width: 120%;
            align-items: center;
            text-align: center;

            .heading-content-khampha {
                width: 60%;
            }

            .img-content-3-khampha {
                width: 60%;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}

// ----------------------------container-----------------------

// ----------------------------KHAM PHA END----------------------------------



// ----------------------------XEP HANG START----------------------------------
// --------------------------SLIDER---------------------

.slider-xephang {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 90vh;
    margin-top: $hight-nav;
    background: linear-gradient(350deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08));

    video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1000;
    }

    .slider-xephang-text {
        margin-left: 11.2rem;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);

        .slider-xephang-text-1 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        .slider-xephang-text-2 {
            font-size: 4.8rem;
            font-weight: 700;
            margin-bottom: 2rem;

        }

        .slider-xephang-text-3 {
            font-size: 1.6rem;
            font-weight: 400S;
            margin-bottom: 2rem;

        }

        .slider-xephang-bnt {
            @include button(14.8rem, 4rem);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
            background-color: $main-color;
            border: 1px solid #000000;
        }

        .slider-xephang-bnt:hover {
            box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.25);
        }
    }
}

// --------------------------SLIDER---------------------



// ----------------------------container-----------------------
.container-xephang {
    margin-top: 8rem;

    .container-search-xephang {
        display: flex;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
        background-color: $main-color;
        border-radius: 16px;
        border: 0.5px solid #000000;

        .icon-search-xephang {
            padding-left: 1.425rem;
            padding-right: 1.25rem;
        }

        .input-search-xephang {
            font-size: 2rem;
            font-weight: 500;
            width: 100%;
            padding: 1.825rem 0;
            background-color: $main-color;
            border-radius: 16px;

        }
    }

    .container-content-xephang {
        display: flex;
        margin-top: 4.8rem;
        align-items: center;


        .icon-arrow-container-xephang {
            img {
                width: 100%;
            }
        }

        .container-xephang-from {


            .text-heading-name-xephang-from {
                font-size: 3.2rem;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 2.838rem;
                margin-left: 11.2rem;
            }

            .container-list-xephanh {

                display: flex;
                justify-content: space-between;

                .slick-arrow {
                    background: none;
                    cursor: pointer;
                }

                .slick-prev {
                    margin-left: 4rem;
                }

                .slick-next {
                    margin-right: 4rem;
                    margin-left: 4rem;
                }

                .slick-list {
                    width: 90vw;

                    .slick-track {
                        display: flex;
                        gap: 4rem;

                    }
                }

                .container-list-xephang-from {
                    display: flex;
                    flex-direction: column;
                    min-width: 25.3rem;
                    scroll-snap-align: start;
                    cursor: pointer;

                    .card-item-img {
                        width: 100%;
                        display: block;
                    }

                    .card-item-content {

                        .text-heading-name-xephang-card {
                            font-size: 2.4rem;
                            font-weight: 700;
                            margin-bottom: 2rem;
                        }

                        .text-title-xephang-card {
                            font-size: 1.4rem;
                            font-weight: 500;
                            margin-bottom: 2.4rem;
                        }

                        .img-rate-xephang {
                            display: flex;
                            gap: 1.7rem;
                            margin-bottom: 2.4rem;
                        }
                    }


                }

            }
        }
    }
}

// ----------------------------container-----------------------


// ----------------------------XEP HANG END----------------------------------


// ----------------------------ABOUT START----------------------------------
.slider-about {
    margin-top: $hight-nav;
    margin-left: 11.2rem;
    margin-right: 11.2rem;

    .slider-content-about {
        display: flex;


        .slider-top-bot-about {
            width: 50%;
            // background-color: #ccc;
            display: flex;
            align-items: center;
            background-color: $second-color;

            .text-slider-about {
                margin-left: auto;
                margin-right: auto;
                max-width: 56rem;


                .heading-slider-about {
                    font-size: 2.4rem;
                    font-weight: 700;
                    margin-bottom: 4rem;
                }

                .title-slider-about {
                    font-size: 2rem;
                    font-weight: 400;
                }
            }

            .img-slider-about {
                width: 100%;
            }
        }


    }
}

.container-about {
    margin-top: 80px;

    .header-container-about {
        text-align: center;
        font-size: 3.2rem;
        font-weight: 600;
        margin-bottom: 80px;

    }

    .container-service-about {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;

        .cards-service-about {
            margin-top: 80px;
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;

            .card-service-about {
                max-width: 60.8rem;

                .card-top-service-about {
                    .img-card-service-about {
                        width: 100%;
                    }
                }

                .card-bot-service-about {
                    margin-top: 20px;

                    .heading-card-service-about {
                        font-size: 2.4rem;
                        font-weight: 700;
                        margin-bottom: 16px;
                    }

                    .title-card-service-about {
                        font-size: 2rem;
                        font-weight: 400;
                    }
                }
            }
        }

    }

    .container-founder-about {
        margin-top: 120px;

        .cards-founder-about {
            display: flex;
            width: 90vw;
            gap: 32px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;

            .card-founder-about {
                width: calc(100%/4);

                .img-card-founder-about {
                    width: 100%;
                }

                .name-founder-card-about {
                    font-size: 3.2rem;
                    font-weight: 600;
                    margin-top: 4rem;
                    margin-bottom: .8rem;
                }

                .title-founder-card-about {
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
        }
    }

    .container-feedback-about {
        margin-top: 120px;

        .cards-feedback-about {
            display: flex;
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;



            .card-feedback-about {
                display: flex;
                flex-direction: column;
                width: calc(90%/5);
                background: $main-color;
                padding: 12px;
                border-radius: 12px;
                box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);

                .card-feedback-about-user {
                    display: flex;
                    align-items: center;
                    max-width: 29.1rem;
                    margin-bottom: 8px;

                    .from-img-user-feedback-about {
                        width: 11.2rem;
                        clip-path: circle(50% at 50% 50%);
                        margin-right: 20px;

                        .img-user-feedback-about {
                            width: 100%;
                        }
                    }

                    .from-name-user-feedback-about {
                        .name-user-feedback-about {
                            font-size: 2rem;
                            font-weight: 400;
                            margin-bottom: 12px;
                        }

                        .job-user-feedback-about {
                            font-size: 1.4rem;
                            font-weight: 500;
                        }
                    }
                }

                .title-feedback-about {
                    font-size: 1.4rem;
                    font-weight: 500;
                    max-width: 28.5rem;
                }
            }
        }
    }

    .container-contact-about {
        margin-top: 120px;

        .box-contact-about {
            display: flex;
            flex-wrap: wrap;
            gap: 80px;
            justify-content: center;
            align-items: center;

            .card-contact-about {
                width: 30rem;

                .img-card-contact-about {
                    width: 100%;
                }
            }
        }
    }
}

// ----------------------------ABOUT END----------------------------------



// ----------------------------CONTACT BEGIN----------------------------------
.container-contact {
    margin-top: $hight-nav;
    display: flex;
    justify-content: flex-end;

    .box-container-contact {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 154px;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);

        .text-box-container-contact {

            max-width: 43.2rem;
            display: flex;
            flex-direction: column;

            gap: 40px;
            // padding: 20rem 10.4rem;

        }

    }

    .box-container-request {
        width: 55%;
        // padding: 18.4rem 18.4rem 22.2rem 18.4rem;

        .from-box-container-contact {
            padding: 18.4rem;

            .from-box-input-container-contact {
                margin-top: 28px;

                .input-contact-request {
                    width: 80%;
                    background-color: $main-color;
                    border-radius: 16px;
                    padding: 16px;
                    margin-top: 4px;
                    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);

                }
            }

        }

        .box-button-contact {
            margin-top: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            background-color: $four-color;
            border-radius: 20px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

            .bnt-contact-request {
                background-color: $four-color;

            }
        }
    }
}

// ----------------------------CONTACT END----------------------------------