@import 'base';
@import 'responsive';


// ----------------------------header-----------------------
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .nav,
    .nav-login,
    .nav-logo,
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        background-color: $main-color;
        padding: 1rem 2.8rem;
        height: 68px;

        .menu-bnt {
            font-size: 5.2rem;
            color: $balck-color;
            // display: none;
        }

        .nav-logo {

            gap: 0 0.9rem;

            p {
                font-size: 2.4rem;
                font-weight: 600;
                color: $balck-color-text;
            }
        }

        .nav-list {
            gap: 0 6rem;

            .nav-item {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        .nav-login {
            gap: 0 2.2rem;

            button {
                @include button(auto, auto);
                padding: 1rem;
            }

            img {
                width: 2.4rem;
            }
        }
    }
}

// ----------------------------header-----------------------



// ----------------------------slider-----------------------
.slider {

    margin-top: 68px;

    .slider-from {
        // padding: 7.7rem 11.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slider-content {
            line-height: 2;
            // width: 55.4rem;
            span {
                font-size: 2rem;
                font-weight: 400;
            }

            h1 {
                font-size: 4.8rem;
                font-weight: 700;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }

            h4 {
                font-size: 2rem;
                font-weight: 700;
                font-style: italic;
            }

            h3 {
                font-size: 2.4rem;
                font-weight: 700;
            }
        }

        .slider-img {
            margin: auto 0;
            width: 84.8rem;
            text-align: center;

            img {
                width: 100%;
                // height: 100%;
                display: block;
            }
        }

    }

}

// ----------------------------slider-----------------------




// ----------------------------container-----------------------
.container {
    margin-top: 4.3rem;

    .text-heading-container {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 4rem;
        font-weight: 700;

    }
    .container-content {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        

        .container-content-left {
            padding: 10rem 0;
            background-color: #ccc;
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;

            .content-left-list {
                margin-top: 4rem;
                width: 50%;

                .content-list-top {
                    display: flex;
                    gap: 0 4rem;
                    margin-bottom: .8rem;
                    align-items: center;

                    .number {
                        text-align: center;
                        background: $balck-color;
                        width: 6.8rem;
                        color: white;
                        border-radius: 2.8rem;
                        font-size: 2.4rem;
                        font-weight: 700;

                        p {
                            padding: 1rem 0;
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                    }

                    h3 {
                        font-size: 1.6rem;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-style: italic;
                }

            }
        }

        .container-content-right {

            background: red;
            width: 87.3rem;
            height: 59.2rem;
            margin-top: auto;
            margin-left: -6.4rem;
            margin-bottom: auto;

        }
    }
}

// ----------------------------container-----------------------

footer{
    .footer-content{
        display: flex;
        margin:0 11.2rem;
        justify-content: space-between;
        .footer-item{
            width: 20%;
            .text-footer-title{
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 2rem;
            }
        }
    }
}