@import 'base';
@import 'responsive';





// ----------------------------header-----------------------
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    .nav,
    .nav-login,
    .nav-logo,
    .nav-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        background-color: $main-color;
        padding: 1rem 2.8rem;
        height: $hight-nav;

        .menu-bnt {
            font-size: 5.2rem;
            color: $balck-color;
            // display: none;
        }

        .nav-logo {

            gap: 0 0.9rem;

            p {
                font-size: 2.4rem;
                font-weight: 600;
                color: $balck-color-text;
            }
        }

        .nav-list {
            gap: 0 6rem;

            .nav-item {
                font-size: 1.6rem;
                font-weight: 400;
            }
        }

        .nav-login {
            gap: 0 2.2rem;

            button {
                @include button(auto, auto);
                padding: 1rem;
            }

            img {
                width: 2.4rem;
            }
        }
    }
}

// ----------------------------header-----------------------

// ----------------------------FOOTER-----------------------

footer {
    display: flex;
    flex-direction: column;
    margin-top: 12rem;
    border-top: 2px solid $main-color;
    bottom: 0;
    position: relative;

    .footer-content {
        padding-top: 8rem;
        display: flex;
        margin: 0 11.2rem;
        justify-content: space-between;


        .footer-item {
            width: 20%;

            .text-footer-heading {
                margin-bottom: 2.8rem;
            }

            .text-footer-title {
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 2rem;

                .text-link {
                    color: $balck-color-text;
                }
            }
        }

        .footer-website {
            width: 12%;
        }
    }

    .footer-bot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.2rem;
        margin-bottom: 2.75rem;

        .footer-logo {
            @include logo;
            display: flex;
            align-items: center;
            margin-bottom: 1.6rem;

        }

        .footer-icon-contact {
            .icon-footer {
                margin-left: .4rem;
                margin-right: .4rem;
            }
        }

    }
}

// ----------------------------FOOTER-----------------------



// ----------------------------TRANG CHU----------------------------------

// ----------------------------slider-----------------------
.slider {

    margin-top: $hight-nav;

    .slider-from {
        // padding: 7.7rem 11.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .slider-content {
            line-height: 2;

            // width: 55.4rem;
            span {
                font-size: 2rem;
                font-weight: 400;
            }

            h1 {
                font-size: 4.8rem;
                font-weight: 700;
            }

            p {
                font-size: 2rem;
                font-weight: 400;
            }

            h4 {
                font-size: 2rem;
                font-weight: 700;
                font-style: italic;
            }

            h3 {
                font-size: 2.4rem;
                font-weight: 700;
            }

            .slider-content-img {
                text-align: center;

                img {
                    width: 28rem;
                }
            }
        }

        .slider-img {
            margin: auto 0;
            width: 84.8rem;
            text-align: center;

            img {
                width: 100%;
                // height: 100%;
                display: block;
            }
        }

    }

}

// ----------------------------slider-----------------------

// ----------------------------container-----------------------
.container {
    margin-top: 4.3rem;

    .text-heading-container {
        text-align: center;
        margin-bottom: 4rem;
        font-size: 4rem;
        font-weight: 700;

    }

    .container-content {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;



        .container-content-left {
            padding: 10rem 0;
            background-color: #ccc;
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;

            .content-left-list {
                margin-top: 4rem;
                width: 50%;

                .content-list-top {
                    display: flex;
                    gap: 0 4rem;
                    margin-bottom: .8rem;
                    align-items: center;

                    .number {
                        text-align: center;
                        background: $balck-color;
                        width: 6.8rem;
                        color: white;
                        border-radius: 2.8rem;
                        font-size: 2.4rem;
                        font-weight: 700;

                        p {
                            padding: 1rem 0;
                            font-size: 2.4rem;
                            font-weight: 700;
                        }
                    }

                    h3 {
                        font-size: 1.6rem;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 1.4rem;
                    font-weight: 500;
                    font-style: italic;
                }

            }
        }

        .container-content-right {

            background: red;
            width: 87.3rem;
            height: 59.2rem;
            margin-top: auto;
            margin-left: -6.4rem;
            margin-bottom: auto;

        }
    }
}

// ----------------------------container-----------------------

// ----------------------------TRANG CHU----------------------------------



// ----------------------------KHAM PHA----------------------------------
// ----------------------------slider-----------------------
.slider-khampha {

    width: 64%;
    background: red;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc($hight-nav + 6.8rem);
    display: flex;
    justify-content: space-between;
    gap: 0 8.4rem;

    .slider-khampha-content {
        width: calc(100%/3);

        img {
            width: 100%;
        }
    }
}

// ----------------------------slider-----------------------



// ----------------------------container-----------------------
.container-khampha {
    width: 64%;
    margin: 0 auto;

    .container-khampha-content {
        width: 89%;
        text-align: left;

        .heading-content-1-khampha {
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: 4.8rem;
        }

        .heading-content-2-khampha {
            font-size: 2.4rem;
            font-weight: 700;
            margin-top: 8rem;
        }

        .title-content-1-khampha {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 2rem 0;
        }

        .interview-content-khampha {
            display: flex;
            align-items: center;
            width: 120%;

            .interview-content-khampha-img {
                width: 100%;

                img {
                    width: 90%;
                    border-radius: 50%;
                }
            }

            .interview-content-khampha-from {
                border-radius: 40px;
                background-color: #191919;
                color: white;
                text-align: left;
                padding: 4rem;
                width: 100%;
                margin-left: -20rem;

                .heading-interview-from-khampha {
                    font-size: 2.4rem;
                    font-weight: 700;
                    line-height: 1.2;
                }

                .title-interview-from-khampha {
                    margin-top: 2.8rem;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
        }

        .content-3-khampha {
            display: flex;
            width: 120%;
            align-items: center;
            gap: 0 10rem;

            .heading-content-3-khampha {
                width: 50%;
            }

            .img-content-3-khampha {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }
}

// ----------------------------container-----------------------

// ----------------------------KHAM PHA----------------------------------



// ----------------------------XEP HANG----------------------------------
// ----------------------------slider-----------------------

.slider-xephang {
    margin-top: $hight-nav;
    position: relative;
    padding-top: 50%;
    background: #ccc;
    display: flex;
    align-items: center;

    .slider-xephang-text {
        margin-left: 11.2rem;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);

        .slider-xephang-text-1 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 2rem;
        }

        .slider-xephang-text-2 {
            font-size: 4.8rem;
            font-weight: 700;
            margin-bottom: 2rem;

        }

        .slider-xephang-text-3 {
            font-size: 1.6rem;
            font-weight: 400S;
            margin-bottom: 2rem;

        }

        .slider-xephang-bnt {
            @include button(14.8rem, 4rem);
        }
    }
}

// ----------------------------slider-----------------------



// ----------------------------container-----------------------
.container-xephang {
    margin-top: 8rem;
    .container-search-xephang {
        display: flex;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
        background-color: #ccc;
        border-radius: 16px;
        .icon-search-xephang{
            padding-left: 1.425rem;
            padding-right: 1.25rem;
        }
        .input-search-xephang {
            width: 100%;
            padding: 1.825rem 0;
            background-color: #ccc;
            border-radius: 16px;

        }
    }

    .container-content-xephang{
        display: flex;
        margin-top: 4.8rem;
        align-items: center;
        padding: 0 4.3rem;
        .container-xephang-from{
            width: 100%;
            overflow: hidden;
            margin: 0 4rem;
            .text-heading-name-xephang-from{
                font-size: 3.2rem;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 2.838rem;
            }
            .container-list-xephanh{
                width: 95vw;
                display: flex;
                overflow: auto;
                padding-bottom: 1.6rem;
                scroll-snap-type:x mandatory;
                gap: 0 5.4rem;
                .container-list-xephang-from{
                    display: flex;
                    flex-direction: column;
                    min-width: 25.3rem;
                    scroll-snap-align: start;
    

                    .container-list-xephang-item{
                        .card-item-xephang{
                            .card-item-img{
                                width: 100%;
                                display: block;
                            }
                            .card-item-content{
                                
                                .text-heading-name-xephang-card{
                                    font-size: 2.4rem;
                                    font-weight: 700;
                                    margin-bottom: 2rem;
                                }
                                .text-title-xephang-card{
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                    margin-bottom: 2.4rem;
                                }
                                .img-rate-xephang{
                                    display: flex ;
                                    margin-bottom: 2.4rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// ----------------------------container-----------------------


// ----------------------------XEP HANG----------------------------------