* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s linear;
    list-style: none;

}
a{
    color: #191919;
}
html {
    font-size: 62.5%;
}

$main-color : #FFFFFF;
$second-color : #FDFFF5;
$thir-color : #532E1C;
$four-color : #0F0F0F;

$balck-color :#191919;
$balck-color-text: #000000;
$white-color: #FFFFFF;

$main-color-ux : #FFFFFF;
$second-color-ux : #DDDDDD;
$thir-color-ux : #191919;
$four-color-ux : #D4D4D4;

$hight-nav : 6.8rem;

@mixin input ($width, $height) {
    width: $width;
    height: $height;
    border-radius: 16px;
}

@mixin button ($width, $height) {
    width: $width;
    height: $height;
    border-radius: 20px;
    cursor: pointer;
}

@mixin icon-button ($width, $height) {
    width: $width;
    height: $height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 20px;
}

@mixin logo () {
    gap: 0 0.9rem;

    p {
        font-size: 2.4rem;
        font-weight: 600;
        color: $balck-color-text;
    }
}