* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

@media (min-width: 1024px) {
  .header .menu-bnt {
    display: none;
  }
  .header .nav-item {
    color: #000000;
  }
  .slider-from {
    padding: 7.7rem 11.2rem;
  }
  .slider-from .slider-img {
    width: 84.8rem;
  }
}
@media (min-width: 740px) and (max-width: 1023px) {
  html {
    font-size: 55.5%;
  }
  .header .nav-list {
    position: absolute;
    left: 0;
    top: 99%;
    display: block;
    text-align: left;
    line-height: 3.4;
    right: 0;
    background-color: #3F4E4F;
    clip-path: polygon(0 0, 0 0, 100% 0);
    padding: 2rem;
  }
  .header .nav-list.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .nav-list .nav-item {
    display: block;
    color: #FFFFFF;
  }
  .slider .slider-from {
    padding: 7.7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider .slider-from .slider-content,
  .slider .slider-from .slider-img {
    width: 100%;
  }
  .slider .slider-from .slider-content {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 739px) {
  html {
    font-size: 50%;
  }
  .header .nav {
    padding: 1rem 0.8rem;
  }
  .header .nav-logo img {
    width: 4rem;
  }
  .header .nav-logo p {
    font-size: 2rem;
  }
  .header .nav-list {
    position: absolute;
    left: 0;
    top: 99%;
    display: block;
    text-align: left;
    line-height: 3.4;
    right: 0;
    background-color: #3F4E4F;
    clip-path: polygon(0 0, 0 0, 100% 0);
    padding: 2rem;
  }
  .header .nav-list.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .nav-list .nav-item {
    display: block;
    color: #FFFFFF;
  }
  .slider .slider-from {
    padding: 7.7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slider .slider-from .slider-content,
  .slider .slider-from .slider-img {
    width: 100%;
  }
  .slider .slider-from .slider-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
header .nav,
header .nav-login,
header .nav-logo,
header .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav {
  background-color: #DCD7C9;
  padding: 1rem 2.8rem;
  height: 68px;
}
header .nav .menu-bnt {
  font-size: 5.2rem;
  color: #191919;
}
header .nav .nav-logo {
  gap: 0 0.9rem;
}
header .nav .nav-logo p {
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
}
header .nav .nav-list {
  gap: 0 6rem;
}
header .nav .nav-list .nav-item {
  font-size: 1.6rem;
  font-weight: 400;
}
header .nav .nav-login {
  gap: 0 2.2rem;
}
header .nav .nav-login button {
  width: auto;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 1rem;
}
header .nav .nav-login img {
  width: 2.4rem;
}

.slider {
  margin-top: 68px;
}
.slider .slider-from {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider .slider-from .slider-content span {
  font-size: 2rem;
  font-weight: 400;
}
.slider .slider-from .slider-content h1 {
  font-size: 4.8rem;
  font-weight: 700;
}
.slider .slider-from .slider-content p {
  font-size: 2rem;
  font-weight: 400;
}
.slider .slider-from .slider-content h4 {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}
.slider .slider-from .slider-content h3 {
  font-size: 2.4rem;
  font-weight: 700;
}
.slider .slider-from .slider-img {
  margin: auto 0;
  width: 84.8rem;
  text-align: center;
}
.slider .slider-from .slider-img img {
  width: 100%;
  display: block;
}

.container {
  margin-bottom: 500px;
  margin-top: 4.3rem;
}
.container .container-content {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.container .container-content .text-heading-container {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 4rem;
  font-weight: 700;
}
.container .container-content .container-content-left {
  padding: 10rem 0;
  background-color: #ccc;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.container .container-content .container-content-left .content-left-list {
  margin-top: 4rem;
  width: 50%;
}
.container .container-content .container-content-left .content-left-list .content-list-top {
  display: flex;
  gap: 0 4rem;
  margin-bottom: 0.8rem;
  align-items: center;
}
.container .container-content .container-content-left .content-left-list .content-list-top .number {
  text-align: center;
  background: #191919;
  width: 6.8rem;
  color: white;
  border-radius: 2.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.container .container-content .container-content-left .content-left-list .content-list-top .number p {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 700;
}
.container .container-content .container-content-left .content-left-list .content-list-top h3 {
  font-size: 1.6rem;
  font-weight: 400;
}
.container .container-content .container-content-left .content-left-list p {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
}

/*# sourceMappingURL=app.css.map */
